<div id="<%= dom_id loan %>">
  <p>
    <strong>Amount:</strong>
    <%= loan.amount %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= loan.interest_rate %>
  </p>

  <p> 
    <strong>Total Due:</strong>
    <%= loan.total_amount_due %>
  </p>

  <p>
    <strong>State:</strong>
    <%= loan.state %>
  </p>

  <p>
    <strong>User:</strong>
    <%= loan.user_id %>
  </p>

</div>
