<p style="color: green"><%= notice %></p>

<%= render @adjustment %>

<div>
  <%= link_to "Edit this adjustment", edit_adjustment_path(@adjustment) %> |
  <%= link_to "Back to adjustments", adjustments_path %>

  <%= button_to "Destroy this adjustment", @adjustment, method: :delete %>
</div>
