<!DOCTYPE html>
<html>
  <head>
    <title>LoanManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |type, message| %>
    <div class="flash <%= type %>">
      <p><%= message %></p>
    </div>
  <% end %>
  
    <%= yield %>
  </body>
</html>
<style>
.flash {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
}

.flash.notice {
  background-color: #d4edda;
  color: #155724;
}

.flash.error {
  background-color: #f8d7da;
  color: #721c24;
}

.flash.alert {
  background-color: #fff3cd;
  color: #856404;
}
</style>